@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
* {
    -webkit-tap-highlight-color: transparent;
}


#navbar {
    background-color: #fff;
    color: #1a73E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#logo a {
    text-decoration: none;
    color: #1a73E8;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

#categories {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-link {
    cursor: pointer;
    font-size: 16px;
}

.nav-link:hover {
    color: #003cff;
}

#main {
    margin-top: 70px;
   
    padding: 60px
}
#card-container{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.card {
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    width: 100%;
    border: 1px solid #ddd;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}

.card-img {
    height: 200px;
width: 100%;

    overflow: hidden;

}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.card-text {
    padding: 16px;

}

.title {
    font-size: 18px;
    font-weight: 600;

}

.description {
    margin: 14px 0;
    line-height: 1.6;
    font-size: 14px;
    color: #444;
}

.read-more {
    display:inline-block;
    padding: 10px;
    background-color:white;
    text-decoration: none;
    color:#1a73E8;
    border-radius: 10px;
    border: 1px solid #1a73E8 ;
    transition: all 0.3s ease;
}

.read-more:hover {
    background-color: #1a73E8;
    color: #fff;
}

.read-more:active {
    background-color: #1a73E8;
    color: #fff;
}


#menu-btn {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media(max-width: 850px) {
 #menu-btn {
        display: block;
    }


  #categories {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-color: 1px solid #ddd;
        padding: 10px 0;
        overflow: hidden;

        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease;
        border-bottom: 1px solid #ddd;

 }

    #categories.show {
        display: flex;

        max-height: 500px;
        opacity: 1;

    }

    .nav-link {
        padding: 12px 20px;
        border-top: 1px solid #eee;
        width: 100%;
    }

    .nav-link:active {
        background-color: #f2f6ff;
    }

    .nav-link:hover {
        background-color: #f2f6ff;
    }

    #main {
        padding: 30px;
    }

    .card{
        margin-bottom: 20px;
    }


}