@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: var(--bg-color);
}

:root{
    --bg-color:#ffffff;
    --title-color:#000000;
    --discription-color:#444444;
    --card-bg:#ffffff;
    --border-color:#dddddd;
    --btn-bg:#ffffff;
    --btn-text:#1a73E8;
    --primary-color:#1a73E8;
}

body.dark{
    --bg-color:#000000;
    --title-color:#ffffff;
    --discription-color:#aaaaaa;
    --card-bg:#000000;
    --border-color:#333333;
    --btn-bg:#1a73E8;
    --btn-text:#ffffff;
    --primary-color:#1a73E8;
    
}

#navbar {
    background-color: #fff;
    color: #1a73E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#theme-toggle  {
    background-color: #1a73E8; 
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3 ease, transform 0.2s ease;
}


#theme-toggle:hover {
    background: #2b82f3;
}

#logo a {
    text-decoration: none;
    color: #1a73E8;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#heading h3 {
    color: #1a73E8;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--primary-color);
}

#categories {
    display: flex;
    gap: 20px;
    list-style: none;
}


.nav-link {
    cursor: pointer;
    font-size: 16px;

}

.nav-link:hover {
    color: #003cff;
}

#main {
    margin-top: 70px;
    padding: 40px 60px
}

#card-container {
    display: grid;
    border-radius: 6px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;

}

.card {
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: var(--bg-color);
    width: 100%;
    border: 1px solid var(--border-color);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}

.card-img {
    height: 200px;
    width: 100%;

    overflow: hidden;

}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    padding: 16px;

}

.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--title-color);

}

.description {
    margin: 14px 0;
    line-height: 1.6;
    font-size: 14px;
    /* color: #444; */
    color: var(--discription-color);
}

.read-more {
    display: inline-block;
    padding: 10px;
    background-color: var(--btn-bg);
    text-decoration: none;
    color:var(--btn-text);
    border-radius: 10px;
    border: 1px solid #1a73E8;
    transition: all 0.3s ease;
}

.read-more:hover {
    background-color: #1a73E8;
    color: #fff;
}

.read-more:active {
    background-color: #1a73E8;
    color: #fff;
}


#menu-btn {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

@media(max-width: 850px) {
    #menu-btn {
        display: block;
    }


    #categories {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-color: 1px solid #ddd;
        padding: 10px 0;
        overflow: hidden;

        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease;
        border-bottom: 1px solid #ddd;

    }

    #categories.show {
        display: flex;

        max-height: 500px;
        opacity: 1;

    }

    .nav-link {
        padding: 12px 20px;
        border-top: 1px solid #eee;
        width: 100%;
    }

    .nav-link:active {
        background-color: #f2f6ff;
    }

    .nav-link:hover {
        background-color: #f2f6ff;
    }

    #main {
        padding: 30px;
    }

    .card {
        margin-bottom: 20px;
    }


    #heading h3 {
        font-size: 22px;
    }
}